<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/gridstack/dist/gridstack.css"/>
    <link rel="stylesheet" type="text/css" href="/gridstack/dist/gridstack-extra.css"/>
    <link rel="stylesheet" type="text/css" href="/angular-growl-v2/build/angular-growl.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script type="text/javascript" src="/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/gridstack/dist/gridstack.min.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-ui-ace/src/ui-ace.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-growl-v2/build/angular-growl.min.js"></script>
    <script src="/main.js"></script>
    <script src="/browserified.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
   
    <navbar></navbar>
    <div id="main" ui-view class="view-animate-container"></div>
</body>
</html>
