navbar {

  // position: fixed;
  top: 0px;
  width: 100vw;
  background: #FF9313;
  box-shadow: 0px 1px 14px black;
  z-index: 2000;

  .container {
    width: 95%;
    // margin: auto;
    // margin: 10px;
    margin-top: 10px; 
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 10px;
    // 50px 0px 10px;
    // max-width: 1340px;
    // padding: 10px;
    // padding-top: 20px;
  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a { // Button
    cursor: pointer;
    transition: all 0.2s;
    &.active {
      background-color: red !important;
      color: #fff;
      z-index: 100;
      box-shadow: 0px 5px 10px #666;
    }
    &:hover {
      background-color: #3FA9F5;
      color: white;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 20px;
    background: none;
    outline: none !important;
  }

  // #lasso-logo {
  //   float: left;
  //   height: 50px; 
  //   // padding: 10px; 
  //   // padding-left: 10px;
  //   // margin-top: 5px;
  //   // margin-right: 20px;
  //   // width: 40px;
  // }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
