navbar {

  position: fixed;
  top: 0px;
  width: 100vw;
  background: #FF9966;
  box-shadow: 0px 1px 14px black;
  z-index: 2000;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: all 0.2s;
    &.active {
      background-color: #3FA9F5 !important;
      color: #fff;
      z-index: 100;
      box-shadow: 0px 5px 10px #666;
      border-radius: 5px;
    }
    &:hover {
      background-color: #3FA9F5;
      color: white;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
