@mixin class-selector-hover-selected {
  color: purple;
  background-color: yellow;
}

.clearfix {
  width: 100%;
  height: 0px;
  clear: both;
}

class-display {
  top: 500px;
  right: 0px;
  z-index: 51;
  box-sizing: border-box;


  .pageClassMenu {
    padding: 10px;
    .cls-field {
      position: relative;
      margin-bottom: 10px;
      &:hover {
        background-color: purple;
        color: orange;
      }
      &:active {
        background-color: purple;
        color: white;
      }
      .right-align-btn {
        float: right;
        height: 40px;
        width: 40px;
      }
      .class-selector {
        float: left;
        cursor: pointer;
        margin: 0px;
        padding: 10px;
        width: 340px;
      }

      .lasso-editing-class {
        @include class-selector-hover-selected;
      }
    }
  }

}
