@mixin class-selector-hover-selected {
  color: purple;
  background-color: yellow;
}

class-display {
  top: 300px;
  right: 0px;
  z-index: 51;
  @include button-transition;

  .cls-field {
    position: relative;
    .right-align-btn {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .class-selector {
      color: purple;
      cursor: pointer;
      &:hover {
        background-color: purple;
        color: orange;
      }
      &:active {
        background-color: purple;
        color: white;
      }
    }

    .lasso-editing-class {
      @include class-selector-hover-selected;
    }
  }

}
