.lasso-styling-in-progress {
  box-sizing: border-box;
  border: 2px dotted red;
}

.lasso-highlight-class {
  border: 2px solid red;
  box-sizing: border-box;
}

.lasso-highlight-on-hover {
  border: 2px dashed red;
  box-sizing: border-box;
}



styling-selector button{
  outline: none;
  border: none;
  transition: all 0.25s;
}

styling-selector button:hover {
  box-shadow: 0px 5px 10px black;
}


.style-group-active {
  background-color: green;
  color: white;
}
