.lasso-styling-in-progress {
  box-sizing: border-box !important; /* Required */
  border: 2px dotted red !important;
}

.lasso-highlight-class {
  border: 2px solid red;
  box-sizing: border-box;
}

.lasso-highlight-on-hover {
  border: 2px dashed red !important;
  box-sizing: border-box;
}



styling-selector button{
  outline: none;
  border: none;
  transition: all 0.25s;
}

styling-selector button:hover {
  box-shadow: 0px 5px 10px black;
}


.style-mode-active {
  background-color: green;
  color: white;
}
