class-display {
  top: 300px;
  right: 0px;
  z-index: 51;

  .cls-field {
    position: relative;
    .right-align-btn {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .class-selector {
      color: purple;
      cursor: pointer;
    }
    .class-selector:hover {
      color: orange;
      background-color: purple;
    }

    .class-selector:active {
      background-color: purple;
      color: white;
    }
  }

}
