<div class="lasso-menu-heading">
  <h4>Create a Class</h4>
  <div class="btn lasso-floating-menu-close" title="Close window and cancel styling"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="clearfix"></div>
</div>
<section class="style-applicator-form">
  <form name="styleApplicator">
    <div ng-hide="classEditMode" class="css-field">
      <label>Class Name</label>
      <input type="text" ng-model="newClass.name"></input>
    </div>
    <div class="css-field" ng-repeat="prop in newClass.styles">
      <input type="text" ng-model="prop.key" placeholder="CSS Property"></input>
      <input type="text" ng-model="prop.value" placeholder="CSS Value"></input>
      <button class="label-danger" ng-click="removeStyle(prop)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <button ng-click="addNewCssField()">Add Property</button>
    <button ng-hide="classEditMode" ng-click="getCssFormData(newClass)">Apply</button>
    <button ng-cloak ng-show="classEditMode" ng-click="updateClass(newClass)">Update</button>
    <button ng-click="cancelStyling()">Reset</button>
  </form>
</section>
