<section class="css-applicator">
  <form name="styleApplicator">
    <label>Class Name</label>
    <input type="text" ng-model="newClass.name"></input>
    <div class="css-field" ng-repeat="prop in newClass.styles">
      <input type="text" ng-model="prop.key" placeholder="CSS Property"></input>
      <input type="text" ng-model="prop.value" placeholder="CSS Value"></input>
      <button ng-click="removeStyle(prop)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <button ng-click="addNewCssField()">Add Styling</button>
    <button ng-click="getCssFormData(newClass)">Apply</button>
  </form>
</section>
