<aside id="toolbar-left" class="toolbar">
  <button ng-click="addNewGridElement()" class="btn btn-default">Add Element</button>
</aside>
<aside id="toolbar-right" class="toolbar">
</aside>

<section id="create-layout">
  <div id="page-layout">

<div class="grid-stack" id="main-grid">

   <!-- <div class="grid-stack-item"
          data-gs-x="10" data-gs-y="10"
          data-gs-width="4" data-gs-height="2">
              <div class="grid-stack-item-content" style="background-color: blue" > <div style="background-color: white">THIS IS MY ELEMENT</div><button ng-click='removeWidget()'>x</button>
              </div>

              <div class="grid-stack">
                            <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">1</div></div>
                            <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">2</div></div>
                            <div class="grid-stack-item" data-gs-x="6" data-gs-y="0" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">3</div></div>
                            <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">4</div></div>
                            <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">5</div></div>
                            <div class="grid-stack-item" data-gs-x="3" data-gs-y="1" data-gs-width="3" data-gs-height="1"><div class="grid-stack-item-content">6</div></div>
              </div>
              end of blue widget
      </div>

      <div class="grid-stack-item"
          data-gs-x="4" data-gs-y="0"
          data-gs-width="4" data-gs-height="4">
              <div class="grid-stack-item-content" style="background-color: red"><button ng-click='removeWidget()'>x</button></div>
      </div> -->

</div>


  </div>
</section>
