@mixin button-transition {
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

$main-grid-background-color: #E9F7FF; // blues: very light #F5FAFF  light #CFEDFF

h3    {
  color: #3FA9F5;
  font-size: 12px;
  text-align: center;
}

button {
  outline: none;
  border: none;
  transition: all 0.25s;
}


button:hover {
  box-shadow: 0px 5px 10px black;
}

button:active {
  box-shadow: 0px 5px 10px black inset;
}

.lasso-hide-nested {
  background-color: purple !important;
  color: yellow ;
}

.create-layout {
  position: relative;
  width: 100vw;
  margin-top: 0px;
  z-index: 0;

  .project-info {
    margin-left: 200px;
    float: left;
    color: red;
  }

  .page-layout {
    position: relative;
    margin: auto; //20px 10px
    margin-left: 180px;
    margin-right: 40px;
    width: calc(100% - 240px);
    min-height: 1000px;
    height: auto;
    z-index: 0;
    background-color: $main-grid-background-color;
    box-shadow: 0px 0px 10px grey;
  }

  .new-element {
    background-color: $opalBlue;
  }


  .lasso-button-box {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    @include button-transition;
  }

  .lasso-button-box-hide {
    display: none;
  }

}

.nested-buttons {
  margin-left: 10px;
}

.toolbar {
  position: fixed;
  // padding: 20px 0px 0px 0px;
  top: 0px;
  width: 120px;
  height: calc(100% + 100px);
  background-color: #4d4d4d;
  box-shadow: 0px 0px 10px black;

  .button-holder {
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;

  .elements {
    background-color: #FF7D13;
  }

  .project {
    background-color: #3FA9F5; // medium blue
  }

  .grid-mgmt {
    background-color: #232B99; // dark blue
  }

  .lasso-toolbar-btn {
    // background-color: #3FA9F5;
    margin: 5px auto;
    border-radius: 0px;
    width: 100%;
    outline: none;
    transition: all 0.25s;
    border: none;
    &:hover {
      box-shadow: 0px 5px 10px #222;
      color: yellow;
    }
    &:active {
      box-shadow: 0px 5px 10px #222 inset;
      // color: #fff;
    }
    &:focus {
      color: lightblue;
    }

  }

    .lasso-toolbar-btn {
      // background-color: $arctic;
      // color: $cloudDancer;
      margin: 5px auto;
      border-radius: 0px;
      width: 100%;
      outline: none;
      transition: all 0.25s;
      border: none;
      &:hover {
        box-shadow: 0px 5px 10px #666;
      }
      &:active {
        box-shadow: 0px 5px 10px #666 inset;
        color: #fff;
      }
    }
  }
}

.menu-directive {
  position: fixed;
  background-color: #4d4d4d;
  width: 400px;
  height: auto;
  padding: 10px;
  box-shadow: 0px 5px 10px #666;
}

.slide-menu-right.ng-enter {

}

#lasso-logo {
  // float: left;
  height: 70px;
  padding: 10px 10px 0px 10px;
  margin-left: 22px;
  z-index: 2000;

}

.ace_editor {
  height: 380px;
}

#toolbar-left {
 left: 0px;
 z-index: 1;
 color: white;
}

#toolbar-right {
  right: 0px;
  z-index: 1;
}
