h3    {
  color: blue;
  font-size: 12px;
  text-align: center;
}

.create-layout {
  position: relative;
  width: 100vw;
  margin-top: 0px;
  z-index: 0;

  .page-layout {
    position: relative;
    margin: 20px auto;
    width: calc(100% - 450px);
    min-height: 1000px;
    height: auto;
    z-index: 0;
    background-color: yellow;
    box-shadow: 0px 0px 10px grey;
  }

  .new-element {
    background-color: lightgreen;
  }

  .lasso-button-box {
    position: absolute;
    bottom: 0;
  }
}

.toolbar {
  position: fixed;
  padding: 100px 0px 0px 0px;
  top: 0px;
  width: 120px;
  height: calc(100% + 100px);
  background-color: #999999;
  box-shadow: 0px 0px 10px black;

  .button-holder {
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;

  }

}



#toolbar-left {
 left: 0px;
 z-index: 1;
}

#toolbar-right {
  right: 0px;
  z-index: 1;
}
