@mixin button-transition {
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

$main-grid-background-color: #E9F7FF; // blues: very light #F5FAFF  light #CFEDFF

h3    {
  color: #3FA9F5;
  font-size: 12px;
  text-align: center;
}

button {
  outline: none;
  border: none;
  transition: all 0.25s;
}


button:hover {
  box-shadow: 0px 5px 10px black;
}

button:active {
  box-shadow: 0px 5px 10px black inset;
}

.lasso-hide-nested {
  background-color: purple !important;
  color: yellow ;
}

.create-layout {
  position: relative;
  width: 100vw;
  margin-top: 0px;
  z-index: 0;

  .page-layout {
    position: relative;
    margin: 20px auto;
    width: calc(100% - 450px);
    min-height: 1000px;
    height: auto;
    z-index: 0;
    background-color: $main-grid-background-color;
    box-shadow: 0px 0px 10px grey;
  }

  .new-element {
    background-color: $opalBlue;
  }


  .lasso-button-box {
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }

}

.nested-buttons {
  margin-left: 10px;
}

.toolbar {
  position: fixed;
  padding: 100px 0px 0px 0px;
  top: 0px;
  width: 120px;
  height: calc(100% + 100px);
  background-color: $semolina;
  box-shadow: 0px 0px 10px black;

  .button-holder {
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;

    .lasso-toolbar-btn {
      background-color: $arctic;
      color: $cloudDancer;
      margin: 5px auto;
      border-radius: 0px;
      width: 100%;
      outline: none;
      transition: all 0.25s;
      border: none;
      &:hover {
        box-shadow: 0px 5px 10px #666;
      }
      &:active {
        box-shadow: 0px 5px 10px #666 inset;
        color: #fff;
      }
    }
  }

}

.menu-directive {
  position: fixed;
  background-color: $semolina;
  width: 400px;
  height: auto;
  padding: 10px;
  box-shadow: 0px 5px 10px #666;
}

.ace_editor {
  height: 380px;
}

#toolbar-left {
 left: 0px;
 z-index: 1;
}

#toolbar-right {
  right: 0px;
  z-index: 1;
}
