* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  width: 100vw;
  margin: 120px auto;
  z-index: 0;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'create-layout/main';
