* {
  box-sizing: border-box;
}

$cloudDancer: #F0EEE9;
$opalBlue: #C3DDD6;
$fancyGreen: #DFF0D8;
$semolina: #CEB899;
$russet: #8F5F50;
$frostedAlmond: #D2C2AC;
$frostyAlmond: rgba(210, 194, 172, 0.6);
$arctic: #648589;
$adobeBlue: rgba(199, 223, 255, 1);


body {
  background: $cloudDancer;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  width: 100vw;
  margin: 40px auto;
  z-index: 0;
}

#main-grid {

}

.modal-dialog{
  z-index: 1040;
  margin-top:20%;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'create-layout/main';
@import 'directives/stylingSelector';
@import 'directives/applyCssStyling';
@import 'directives/stylingClassDisplay';
